.handle-error-animation {
	animation-name: fade-in;
	animation-fill-mode: both;
	animation-duration: 1.5s;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.handle-text-error {
	color: #f66359;
	font-size: 13px;
}

.css-13pgnvp-multiValue {
	background-color: hsl(0, 0%, 90%);
	border-radius: 2px;
	display: flex;
	min-width: 0;
	margin: 4px;
	box-sizing: border-box;
}

.wfr-typography-caption {
	font-family: poppins;
	color: #172436;
	opacity: 0.6;
	font-size: 0.85rem !important;
	line-height: 1.66 !important;
	padding-bottom: 4px;
}
